@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
input:focus,
select:focus,
textarea:focus,
option:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  width: 100%;
}

.top-header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f3f3f3;
}
.top-header .lang {
  color: #000;
  text-decoration: none;
}
.top-header .lang img {
  width: 15px;
  height: 15px;
}
.top-header .lang span {
  font-size: 13px;
  margin-right: 5px;
  color: #888;
}
.top-header .lang .select-language {
  border: 0;
  color: #888;
}
.top-header .lang:last-child {
  margin-right: 40px;
}
.top-header .support {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
}
.top-header .support img {
  width: 25px;
  height: 25px;
  float: right;
  margin-left: 5px;
}
.top-header .support h6 {
  margin: 0;
  font-size: 12px;
}
.top-header .social {
  text-align: left;
}
.top-header .social .social-icon {
  margin-right: 10px;
}
.top-header .social .social-icon i {
  color: #AEAEAE;
  transition: 0.5s;
}
.top-header .social .social-icon i:hover {
  color: #750A16;
}

.middle-header {
  padding-top: 20px;
  border-bottom: 1px solid #f3f3ff;
  padding-bottom: 20px;
}
.middle-header .logo img {
  width: 100px;
  height: 80px;
}
.middle-header .search-input .row {
  margin: 0;
}
.middle-header .search-input .row .col-lg-3,
.middle-header .search-input .row .col-lg-7,
.middle-header .search-input .row .col-lg-2 {
  padding: 0;
  margin: 0;
}
.middle-header .search-input .search-form {
  border: 1px solid #750A16;
  text-align: center;
  margin-top: 20px;
}
.middle-header .search-input .search-form .select-form-control {
  background-color: #F3F3F3;
}
.middle-header .search-input .search-form .form-group {
  margin-bottom: 0;
}
.middle-header .search-input .search-form .form-group .form-control {
  border-radius: 0;
  height: calc(1.5em + .75rem + 5px);
  border: 0;
  font-size: 14px;
}
.middle-header .search-input .search-form .btn-submit .btn {
  background-color: #750A16;
  padding: 0;
  height: calc(1.5em + .75rem + 2px);
  width: 100%;
  color: #fff;
  border-radius: 0;
}
.middle-header .login-and-order-info {
  margin-top: 25px;
  margin-right: 30px;
}
.middle-header .login-and-order-info .login {
  color: #000;
  font-size: 12px;
  margin-left: 20px;
}
.middle-header .login-and-order-info img {
  width: 15px;
  height: 15px;
}
.middle-header .login-and-order-info .number-like {
  margin-left: 20px;
}
.middle-header .login-and-order-info .number {
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 9px;
  text-align: center;
  border-radius: 50%;
  background-color: #F3F3F3;
  color: #444;
}

.navbar {
  height: 60px;
  line-height: 60px;
  padding: 0;
}
.navbar .nav-item .nav-link {
  color: #000;
}
.navbar .nav-item-all .nav-link {
  position: relative;
}
.navbar .nav-item-all .nav-link img {
  width: 20px;
  height: 15px;
  position: absolute;
  top: 30px;
  right: 15px;
}
.navbar .nav-item-all .nav-link .form-group {
  margin-bottom: 0;
  padding: 0;
  width: 250px;
}
.navbar .nav-item-all .nav-link .form-group .form-control {
  font-size: 14px;
  border-radius: 0;
  padding: 0;
  padding-right: 30px;
  height: 60px;
  border: 0;
  background-color: #F3F3F3;
}
.navbar .active .nav-link {
  color: #750A16 !important;
}

.header-slider .slider-item {
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header-slider .slider-item:focus {
  outline: 0;
}
.header-slider .slick-prev {
  left: 5%;
  z-index: 99;
}
.header-slider .slick-prev::before {
  content: "";
  font-size: 30px;
}
.header-slider .slick-next {
  right: 5%;
}
.header-slider .slick-next::before {
  content: "";
  font-size: 30px;
}

.new-added {
  position: relative;
}
.new-added hr {
  width: 75%;
  margin: auto;
  margin-top: 40px;
}
.new-added .section-header {
  position: absolute;
  top: -10px;
  right: auto;
  margin-right: 15px;
}
.new-added .section-header h6 {
  margin: 0;
  padding: 0;
  color: #750A16;
  font-size: 18px;
}
.new-added .choses .choses-slider .item-slider {
  padding: 10px;
  margin-top: 10px;
}
.new-added .choses .choses-slider .item-slider:focus {
  outline: 0;
}
.new-added .choses .choses-slider .item-slider .card {
  border: 0;
  background-color: #F8F8F8;
  padding: 15px;
}
.new-added .choses .choses-slider .item-slider .card .img-date {
  position: relative;
  width: 100%;
}
.new-added .choses .choses-slider .item-slider .card .date {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 20px;
  font-weight: bold;
  font-size: 14px;
  top: 10px;
  border-radius: 5px;
  left: 10px;
  color: #fff;
  background-color: #FE791E;
}
.new-added .choses .choses-slider .item-slider .card img {
  height: 180px;
}
.new-added .choses .choses-slider .item-slider .card .card-body {
  padding: 0;
}
.new-added .choses .choses-slider .item-slider .card .card-body .card-title {
  font-size: 14px;
  margin: 0;
  color: #000;
  text-decoration: none;
}
.new-added .choses .choses-slider .item-slider .card .card-body .price,
.new-added .choses .choses-slider .item-slider .card .card-body .line-through {
  font-size: 18px;
}
.new-added .choses .choses-slider .item-slider .card .card-body .price {
  color: red;
}
.new-added .choses .choses-slider .item-slider .card .card-body .line-through {
  text-decoration: line-through;
  font-size: 12px;
}
.new-added .choses .choses-slider .item-slider .card .card-body .rate i {
  color: #750A16;
  font-size: 12px;
}
.new-added .choses .choses-slider .item-slider .card .card-body .rate .rate-number {
  font-size: 13px;
}
.new-added .choses .choses-slider .item-slider .card .card-body .btn {
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  background-color: #750A16;
  margin-bottom: 10px;
  font-size: 13px;
  width: 100%;
}
.new-added .choses .choses-slider .item-slider .card .card-footer {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
}
.new-added .choses .choses-slider .item-slider .card .card-footer .add-compare {
  color: #686464;
  font-size: 12px;
}
.new-added .choses .choses-slider .item-slider .card .card-footer .add {
  float: right;
  margin-right: 20px;
}
.new-added .choses .choses-slider .item-slider .card .card-footer .compare {
  float: left;
  border-right: 1px solid #B5B5B5;
  padding-right: 4px;
}
.new-added .choses .choses-slider .slick-arrow {
  border: 1px solid #fff;
  background-color: #fff;
  top: -5px;
}
.new-added .choses .choses-slider .slick-arrow::before {
  font-weight: normal !important;
  color: #750A16;
  font-size: 28px;
}
.new-added .choses .choses-slider .slick-prev {
  left: 30px;
  z-index: 99;
}
.new-added .choses .choses-slider .slick-prev::before {
  content: "";
}
.new-added .choses .choses-slider .slick-next {
  left: 70px;
  bottom: 0;
}
.new-added .choses .choses-slider .slick-next::before {
  content: "";
}

.department {
  position: relative;
}
.department .section-header {
  display: inline-block;
  width: 120px;
  background-color: #fff;
  position: absolute;
  top: -15px;
}
.department .department-row {
  border-top: 1px solid #f3f3f3;
  margin-top: 80px;
  padding-top: 10px;
}
.department .card {
  border: 0;
  border-radius: 0;
  margin-top: 10px;
}
.department .card img {
  height: 230px;
}
.department .card .card-title {
  margin-top: 10px;
  color: #000;
  text-decoration: none;
}

.product {
  background-color: #F9F9F9;
  padding-bottom: 90px;
  padding-top: 40px;
  margin-top: 50px;
}
.product .tab-pane {
  display: block !important;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.product .tab-pane.active {
  opacity: 1;
  height: auto;
  display: block;
  overflow: inherit;
}
.product .nav-pills-company {
  background-color: #fff;
  margin-bottom: 5px;
}
.product .nav-pills-company .nav-item {
  margin-right: 15px;
  width: 11%;
}
.product .nav-pills-company .nav-link {
  border-radius: 0;
  transition: 0.5s;
}
.product .nav-pills-company .nav-link img {
  height: 90px;
  transition: 0.5s;
  border: 1px solid #f8f7f7;
}
.product .nav-pills-company .active {
  background-color: transparent;
  border: 1px solid #750A16;
  border-radius: 0;
}
.product .nav-pills-company .active img {
  border: 0;
}
.product .product-slider .slider-item {
  padding: 6px;
}
.product .product-slider .card {
  direction: rtl;
  margin-bottom: 20px;
  border: 0;
  padding: 15px;
  transition: 0.5s;
  margin-top: 10px;
  border-radius: 0;
}
.product .product-slider .card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.product .product-slider .card img {
  margin-top: 5px;
  height: 60px;
}
.product .product-slider .card .card-body {
  direction: ltr;
  padding: 0;
  padding-right: 15px;
}
.product .product-slider .card .card-body .price {
  color: red;
}
.product .product-slider .card .card-body .line-through {
  text-decoration: line-through;
  font-size: 12px;
}
.product .product-slider .card .card-body h6 {
  margin: 0;
  font-size: 14px;
}
.product .product-slider .card .card-body .card-title {
  color: #000;
}
.product .product-slider .card .card-body .rate span,
.product .product-slider .card .card-body .rate i {
  font-size: 12px;
  color: #750A16;
}
.product .product-slider .card .card-body .rate span {
  margin-left: 10px;
}
.product .product-slider .card .card-footer {
  border: 0;
  padding: 0;
  background-color: transparent;
}
.product .product-slider .card .card-footer .btn {
  background-color: #750A16;
  color: #fff;
  margin-top: 15px;
}
.product .product-slider .card .card-footer .add-compare {
  color: #686464;
  font-size: 12px;
  margin-top: 20px;
}
.product .product-slider .card .card-footer .add {
  float: right;
  margin-right: 40px;
}
.product .product-slider .card .card-footer .compare {
  float: left;
  border-right: 1px solid #B5B5B5;
  padding-right: 4px;
}
.product .product-slider .slick-dots li {
  width: 1px !important;
}
.product .product-slider .slick-dots li button {
  width: 8px !important;
  padding: 0;
  height: 8px !important;
  background-color: #c7c7c7;
  border-radius: 50%;
}
.product .product-slider .slick-dots li button::before {
  content: none !important;
}
.product .product-slider .slick-dots .slick-active button {
  background-color: #750A16;
}
.product .product-slider .slick-dots .slick-active button::before {
  content: none !important;
}
.product .tab-product-slider {
  background-color: #fff;
  padding: 15px;
}
.product .tab-product-slider .show-all-product {
  text-align: center;
}
.product .tab-product-slider .show-all-product .card {
  padding: 15px;
  border-radius: 0;
  border: 0;
  border-right: 1px solid #f3f3f3;
}
.product .tab-product-slider .show-all-product img {
  width: 100px;
  height: 100px;
  margin: auto;
  border: 5px solid #f4f4f4;
}
.product .tab-product-slider .show-all-product .card-text {
  font-size: 13px;
  margin-top: 10px;
}
.product .tab-product-slider .show-all-product .btn {
  background-color: #D51C22;
  color: #fff;
  font-size: 14px;
}
.product .flash-offer {
  margin-top: 70px !important;
}
.product .flash-offer img {
  margin-top: 10px;
  height: 200px;
}

.price5-sr {
  margin-top: 90px;
}
.price5-sr hr {
  width: 60%;
  margin-right: 300px;
}

.most-sell {
  margin-top: 60px;
}
.most-sell hr {
  width: 70%;
  margin-right: 200px;
}

.special-offer {
  background-image: url("../images/special-offer.jpg");
  background-size: cover;
  margin-top: 50px;
  height: 350px;
  background-position: center left;
  position: relative;
}
.special-offer .overlay {
  position: absolute;
  width: 50%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
  top: 0;
  right: 0;
  background-color: #ED7E49;
  color: #fff;
  padding: 30px;
  padding-top: 70px;
  padding-right: 60px;
}
.special-offer .overlay h6 {
  font-size: 20px;
}
.special-offer .overlay h5 {
  font-size: 30px;
}
.special-offer .overlay p {
  font-size: 15px;
  width: 35%;
  margin-top: 20px;
}
.special-offer .overlay .btn {
  background-color: #fff;
  width: 145px;
  margin-top: 15px;
  font-size: 14px;
}

.today-offer {
  margin-top: 80px;
}
.today-offer .to-day-offer-colm {
  border: 2px solid #750A16;
  padding: 15px;
  text-align: center;
  padding-bottom: 6px;
  margin-bottom: 10px;
}
.today-offer .to-day-offer-colm .head {
  text-align: right;
}
.today-offer .to-day-offer-colm .add-image {
  border-top: 1px solid #f1f1f1;
  padding-top: 10px;
}
.today-offer .to-day-offer-colm .add-image .slider-top .item-slide {
  height: 150px;
  background-size: cover;
  background-position: center;
}
.today-offer .to-day-offer-colm .add-image .slider-bottom .item-slide {
  border: 3px solid #fff;
  height: 50px;
  background-size: cover;
  background-position: center;
}
.today-offer .to-day-offer-colm .add-image .slider-bottom .item-slide:focus {
  outline: 0 !important;
}
.today-offer .to-day-offer-colm .slick-prev {
  left: 0;
  top: -20px;
  z-index: 99;
}
.today-offer .to-day-offer-colm .slick-prev::before {
  content: "";
  font-size: 15px;
  color: #750A16;
}
.today-offer .to-day-offer-colm .slick-next {
  left: 10%;
  top: -20px;
  bottom: 0;
}
.today-offer .to-day-offer-colm .slick-next::before {
  content: "";
  font-size: 15px;
  color: #750A16;
}
.today-offer .to-day-offer-colm .card-text {
  font-size: 13px;
  margin: 0;
  margin-top: 10px;
}
.today-offer .to-day-offer-colm .card-title {
  font-size: 15px;
  margin: 0;
  margin-top: 3px;
  color: #000;
}
.today-offer .to-day-offer-colm .rate {
  color: #750A16;
}
.today-offer .to-day-offer-colm .rate i {
  font-size: 12px;
}
.today-offer .to-day-offer-colm .rate span {
  font-size: 12px;
}
.today-offer .to-day-offer-colm .price {
  color: red;
}
.today-offer .to-day-offer-colm .line-through {
  text-decoration: line-through;
  font-size: 12px;
}
.today-offer .to-day-offer-colm .progress-info {
  position: relative;
  margin-top: 20px;
}
.today-offer .to-day-offer-colm .in-stock,
.today-offer .to-day-offer-colm .sold {
  font-size: 12px;
}
.today-offer .to-day-offer-colm .in-stock {
  position: absolute;
  left: 0;
  top: -20px;
}
.today-offer .to-day-offer-colm .sold {
  position: absolute;
  right: 0;
  top: -20px;
}
.today-offer .to-day-offer-colm .progress {
  border-radius: 10px;
  height: 0.75rem;
}
.today-offer .to-day-offer-colm .progress .progress-bar {
  border-radius: 10px;
  background-color: #750A16;
}
.today-offer .to-day-offer-colm .expire-in {
  text-align: center;
  margin-top: 10px;
}
.today-offer .to-day-offer-colm .expire-in .row {
  margin: 0;
}
.today-offer .to-day-offer-colm .expire-in .row .col {
  padding-left: 0px;
  padding-right: 0px;
}
.today-offer .to-day-offer-colm .expire-in span {
  display: inline-block;
  background-color: #ECEDE7;
  width: 30px;
  font-weight: bold;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.today-offer .to-day-offer-colm .expire-in h5 {
  font-size: 13px;
}
.today-offer .to-day-offer-slider {
  border: 1px solid #f3f3f3;
  padding: 10px;
  position: relative;
}
.today-offer .to-day-offer-slider .tab-pane {
  display: block !important;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.today-offer .to-day-offer-slider .tab-pane.active {
  opacity: 1;
  height: auto;
  display: block;
  overflow: inherit;
}
.today-offer .to-day-offer-slider .nav-pills-today-offer {
  position: absolute;
  top: 0;
  left: 0;
}
.today-offer .to-day-offer-slider .nav-pills-today-offer .nav-item .nav-link {
  background-color: transparent;
  color: #999;
  font-size: 14px;
}
.today-offer .to-day-offer-slider .nav-pills-today-offer .nav-item .active {
  color: #000;
}
.today-offer .to-day-offer-slider .tab-offer .more-slider {
  padding-top: 10px;
  border-top: 1px solid #f1f1f1;
}
.today-offer .to-day-offer-slider .tab-offer .more-slider .item-slider {
  padding: 5px;
  margin-top: 10px;
}
.today-offer .to-day-offer-slider .tab-offer .more-slider .item-slider:focus {
  outline: 0;
}
.today-offer .to-day-offer-slider .tab-offer .more-slider .item-slider .card {
  border: 0;
  background-color: #F8F8F8;
  padding: 15px;
  text-align: center;
}
.today-offer .to-day-offer-slider .tab-offer .more-slider .item-slider .card .img-date {
  position: relative;
  width: 100%;
}
.today-offer .to-day-offer-slider .tab-offer .more-slider .item-slider .card .date {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 20px;
  font-weight: bold;
  font-size: 14px;
  top: 10px;
  border-radius: 5px;
  left: 10px;
  color: #fff;
  background-color: #FE791E;
  text-align: center;
}
.today-offer .to-day-offer-slider .tab-offer .more-slider .item-slider .card img {
  height: 180px;
}
.today-offer .to-day-offer-slider .tab-offer .more-slider .item-slider .card .card-body {
  padding: 0;
}
.today-offer .to-day-offer-slider .tab-offer .more-slider .item-slider .card .card-body .card-title {
  font-size: 14px;
  margin: 0;
  color: #000;
}
.today-offer .to-day-offer-slider .tab-offer .more-slider .item-slider .card .card-body .price,
.today-offer .to-day-offer-slider .tab-offer .more-slider .item-slider .card .card-body .line-through {
  font-size: 18px;
}
.today-offer .to-day-offer-slider .tab-offer .more-slider .item-slider .card .card-body .price {
  color: red;
}
.today-offer .to-day-offer-slider .tab-offer .more-slider .item-slider .card .card-body .line-through {
  text-decoration: line-through;
  font-size: 12px;
}
.today-offer .to-day-offer-slider .tab-offer .more-slider .item-slider .card .card-body .rate i {
  color: #750A16;
  font-size: 12px;
}
.today-offer .to-day-offer-slider .tab-offer .more-slider .item-slider .card .card-body .rate .rate-number {
  font-size: 13px;
}
.today-offer .to-day-offer-slider .tab-offer .more-slider .item-slider .card .card-body .btn {
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  background-color: #750A16;
  margin-bottom: 10px;
  font-size: 13px;
  width: 100%;
}
.today-offer .to-day-offer-slider .tab-offer .more-slider .item-slider .card .card-footer {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
}
.today-offer .to-day-offer-slider .tab-offer .more-slider .item-slider .card .card-footer .add-compare {
  color: #686464;
  font-size: 12px;
}
.today-offer .to-day-offer-slider .tab-offer .more-slider .item-slider .card .card-footer .add {
  float: right;
  margin-right: 20px;
}
.today-offer .to-day-offer-slider .tab-offer .more-slider .item-slider .card .card-footer .compare {
  float: left;
  border-right: 1px solid #B5B5B5;
  padding-right: 4px;
}
.today-offer .to-day-offer-slider .slick-dots li {
  width: 1px !important;
}
.today-offer .to-day-offer-slider .slick-dots li button {
  width: 8px !important;
  padding: 0;
  height: 8px !important;
  background-color: #c7c7c7;
  border-radius: 50%;
}
.today-offer .to-day-offer-slider .slick-dots li button::before {
  content: none !important;
}
.today-offer .to-day-offer-slider .slick-dots .slick-active button {
  background-color: #750A16;
}
.today-offer .to-day-offer-slider .slick-dots .slick-active button::before {
  content: none !important;
}

.path {
  text-align: right;
  background-color: #750A16;
  padding: 20px;
}
.path span::before {
  font-family: "Font Awesome 5 Free";
  margin-left: 6px;
  margin-right: 6px;
  content: "";
  font-weight: 900;
  font-size: 13px;
  color: #fff;
}
.path .first::before {
  content: "" !important;
}
.path a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.path a:hover {
  color: #999;
}
.path i {
  font-size: 13px;
}

.pagination {
  width: 20%;
  margin: auto;
  padding-left: 120px;
  padding-top: 30px;
  margin-bottom: 40px;
}
.pagination .page-item {
  text-align: center;
}
.pagination .page-item .page-link {
  background-color: transparent !important;
  padding: 0 !important;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  color: #000;
  margin-right: 5px;
  border: 1px solid #750A16;
}
.pagination .active .page-link {
  background-color: #750A16 !important;
  border: 1px solid #750A16 !important;
  color: #fff;
}

.search-result {
  margin-top: 90px;
}
.search-result .filter .card .card-header {
  text-align: center;
  border: 1px solid #EDEDED;
  padding: 20px;
}
.search-result .filter .panel-title {
  position: relative;
  font-size: 17px;
  margin-top: 30px;
  cursor: pointer;
}
.search-result .filter .panel-title::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  color: #40A944;
  top: -2px;
  left: 0px;
  position: absolute;
}
.search-result .filter .panel-title[aria-expanded=true]::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.search-result .filter .panel-collapse {
  padding-top: 20px;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.search-result .filter .panel-collapse .container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: 2px;
  margin-right: 10px;
  margin-top: 5px;
}
.search-result .filter .panel-collapse .rate i {
  color: #750A16;
}
.search-result .filter .panel-collapse .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.search-result .filter .panel-collapse .checkmark {
  position: absolute;
  top: 0;
  left: 100%;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  margin-left: -10px;
}
.search-result .filter .panel-collapse .container:hover input ~ .checkmark {
  background-color: #ccc;
}
.search-result .filter .panel-collapse .container input:checked ~ .checkmark {
  background-color: #750A16;
}
.search-result .filter .panel-collapse .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.search-result .filter .panel-collapse .container input:checked ~ .checkmark:after {
  display: block;
}
.search-result .filter .panel-collapse .container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 9px;
  height: 14px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.search-result .filter .btn {
  background-color: #750A16;
  color: #fff;
  margin-top: 50px;
}
.search-result .result .card-header {
  text-align: center;
  border: 1px solid #EDEDED;
  height: 69px;
}
.search-result .result .card-header select {
  border: 0;
  background-color: transparent;
}
.search-result .result .card-header h6 {
  line-height: 35px;
}
.search-result .result .card {
  border: 0;
  text-align: center;
  background-color: #F8F8F8;
  padding: 15px;
  margin-top: 30px;
}
.search-result .result .card .img-date {
  position: relative;
  width: 100%;
}
.search-result .result .card .date {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 20px;
  font-weight: bold;
  font-size: 14px;
  top: 10px;
  border-radius: 5px;
  left: 10px;
  color: #fff;
  background-color: #FE791E;
  text-align: center;
}
.search-result .result .card img {
  height: 200px;
}
.search-result .result .card .card-body {
  padding: 0;
}
.search-result .result .card .card-body .card-title {
  font-size: 14px;
  margin: 0;
}
.search-result .result .card .card-body .price,
.search-result .result .card .card-body .line-through {
  font-size: 18px;
}
.search-result .result .card .card-body .price {
  color: red;
}
.search-result .result .card .card-body .line-through {
  text-decoration: line-through;
  font-size: 12px;
}
.search-result .result .card .card-body .rate i {
  color: #750A16;
  font-size: 12px;
}
.search-result .result .card .card-body .rate .rate-number {
  font-size: 13px;
}
.search-result .result .card .card-body .btn {
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  background-color: #750A16;
  margin-bottom: 10px;
  font-size: 13px;
  width: 100%;
}
.search-result .result .card .card-footer {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
}
.search-result .result .card .card-footer .add-compare {
  color: #686464;
  font-size: 12px;
}
.search-result .result .card .card-footer .add {
  float: right;
  margin-right: 20px;
}
.search-result .result .card .card-footer .compare {
  float: left;
  border-right: 1px solid #B5B5B5;
  padding-right: 4px;
}
.search-result .result .card-head {
  background-color: transparent !important;
  margin-top: 0;
  border: 1px solid #EDEDED;
  padding: 0;
}

.cart-table {
  margin-top: 40px;
}
.cart-table .table-image .img-w {
  width: 17%;
}
.cart-table .table-image th {
  border: 0;
  font-weight: normal;
  padding-bottom: 20px;
}
.cart-table .table-image td,
.cart-table .table-image th {
  vertical-align: middle;
}
.cart-table .table-image img {
  width: 150px;
  height: 150px;
}
.cart-table .table-image .name {
  font-weight: bold;
}
.cart-table .btn {
  background-color: #750A16;
  color: #fff;
}
.cart-table i {
  color: #999;
}

.product-details {
  margin-top: 40px;
}
.product-details .add-image .slider-top .item-slide {
  height: 350px;
  background-size: cover;
  background-position: center;
}
.product-details .add-image .slider-bottom {
  margin-top: 10px;
}
.product-details .add-image .slider-bottom .item-slide {
  border: 3px solid #fff;
  height: 95px;
  background-size: cover;
  background-position: center;
}
.product-details .add-image .slider-bottom .item-slide:focus {
  outline: 0 !important;
}
.product-details .product-details-content {
  margin-top: 48px;
  position: relative;
}
.product-details .product-details-content .options {
  position: absolute;
  left: 0;
}
.product-details .product-details-content .options i {
  color: #D9D9D9;
  text-align: center;
  line-height: 33px;
  width: 33px;
  height: 33px;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
}
.product-details .product-details-content h5 {
  font-size: 40px;
  color: #750A16;
}
.product-details .product-details-content .rate i {
  color: #750A16;
}
.product-details .product-details-content p {
  color: #797979;
  margin-top: 17px;
}
.product-details .product-details-content .price {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 0 10px 0;
  margin-bottom: 20px;
}
.product-details .product-details-content .price h5 {
  color: red;
  font-size: 25px;
}
.product-details .product-details-content .price .through {
  text-decoration: line-through;
  font-size: 15px;
  font-weight: bold;
}
.product-details .product-details-content .chose-xl {
  font-weight: bold;
}
.product-details .product-details-content select {
  border: 0;
  background-color: transparent;
}
.product-details .product-details-content .counter {
  border: 1px solid #DDD;
  border-radius: 10px;
  width: 125px;
  margin-bottom: 10px !important;
}
.product-details .product-details-content .number-input {
  line-height: 0 !important;
  width: 30px !important;
  height: 30px !important;
  padding-top: 15px !important;
  border: 0 !important;
}
.product-details .product-details-content .decrementer {
  background-color: transparent !important;
  color: #555 !important;
  line-height: 20px !important;
  width: 40px !important;
  height: 30px !important;
  border: 0 !important;
  padding: 0 !important;
}
.product-details .product-details-content .incrementer {
  display: inline-block;
  padding: 0 !important;
  line-height: 20px !important;
  border: 0 !important;
  width: 40px !important;
  height: 30px !important;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent !important;
  color: #555 !important;
  border: 0;
}
.product-details .product-details-content .btn-add {
  text-align: right;
}
.product-details .product-details-content .btn-add .btn {
  background-color: #750A16;
  color: #fff;
  width: 55%;
}

.nav-tab-comment-desc-col {
  background-color: #fff;
  padding-left: 0;
}

.tabs-comment-description {
  background-color: #FBFBFB;
  margin-top: 80px;
}
.tabs-comment-description .nav-tab-comment-desc {
  background-color: #fff;
}
.tabs-comment-description .nav-tab-comment-desc .nav-link {
  padding: 0;
  height: 80px;
  line-height: 80px;
  padding-right: 10px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-size: 18px;
}
.tabs-comment-description .nav-tab-comment-desc .nav-link img {
  width: 25px;
  height: 25px;
  margin-left: 20px;
}
.tabs-comment-description .nav-tab-comment-desc .active {
  background-color: #FBFBFB;
}
.tabs-comment-description .tab-comment-desc-content {
  padding: 25px;
}
.tabs-comment-description .tab-comment-desc-content p {
  color: #797979;
  font-size: 14px;
  line-height: 30px;
}
.tabs-comment-description .tab-comment-desc-content .comment {
  margin-top: 0px;
}
.tabs-comment-description .tab-comment-desc-content .comment .card {
  background-color: transparent;
  border: 0;
  margin-top: 30px;
  position: relative;
}
.tabs-comment-description .tab-comment-desc-content .comment .card .rate {
  margin-top: 5px;
}
.tabs-comment-description .tab-comment-desc-content .comment .card .rate i {
  color: #750A16;
}
.tabs-comment-description .tab-comment-desc-content .comment .card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.tabs-comment-description .tab-comment-desc-content .comment .card .card-title {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}
.tabs-comment-description .tab-comment-desc-content .comment .card .card-text {
  color: #797979;
  font-size: 13px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.tabs-comment-description .tab-comment-desc-content .comment .card .time {
  position: absolute;
  top: 0;
  left: 5px;
}
.tabs-comment-description .tab-comment-desc-content .comment .card .time::before {
  content: "-";
}
.tabs-comment-description .tab-comment-desc-content .comment .more {
  margin-top: 20px;
  text-align: center;
}
.tabs-comment-description .tab-comment-desc-content .comment .comment-form {
  margin-top: 40px;
  border-bottom: 1px solid #D5D5D5;
  padding-bottom: 40px;
}
.tabs-comment-description .tab-comment-desc-content .comment .comment-form .form-group .form-control {
  border: 0;
  border-radius: 5px;
  height: calc(1.5em + 0.75rem + 100px);
}
.tabs-comment-description .tab-comment-desc-content .comment .comment-form .btn-submit .btn {
  border-radius: 20px;
  color: #fff;
  background-color: #474094;
  width: 100px;
}

.related-product {
  margin-top: 100px;
  margin-bottom: 80px;
}

footer {
  background-color: #000;
  margin-top: 40px;
  padding-top: 70px;
  padding-bottom: 30px;
}
footer .footer-top {
  margin-bottom: 50px;
}
footer .footer-top .number {
  color: #fff;
  text-align: right;
}
footer .footer-top .support {
  text-align: left;
}
footer .footer-top img {
  width: 200px;
}
footer ul li {
  margin-top: 8px;
  transition: 0.5s;
  font-size: 14px;
  color: #fff;
}
footer ul li i {
  margin-left: 5px;
}
footer ul li:hover {
  transform: translateX(-4px);
}
footer ul li a {
  color: #fff;
  text-decoration: none;
}
footer ul li a:hover {
  color: #fff;
  text-decoration: none;
}
footer .logo {
  text-align: right;
}
footer .logo img {
  height: 70px;
  width: 100px;
}
footer .logo p {
  color: #fff;
  font-size: 13px;
  margin-top: 10px;
  line-height: 30px;
}
footer .important-links h5 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 20px;
}
footer .important-links ul li {
  width: 50%;
  float: right;
}
footer .about-site h5 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 20px;
}
footer .about-site ul li {
  margin-top: 20px;
}
footer .about-site ul li span {
  font-size: 14px;
}
footer .download-app h5 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}
footer .download-app img {
  height: 60px;
}
footer .footer-bottom {
  direction: ltr;
  padding-top: 20px;
  background-color: #1B2B2B;
}
footer .footer-bottom .par {
  text-align: left;
}
footer .footer-bottom .par h5 {
  color: #fff;
  font-size: 30px;
}
footer .footer-bottom .par h5 span {
  color: #B43535 !important;
}
footer .footer-bottom .par p {
  color: #fff;
}
footer .footer-bottom .subscripe {
  padding-top: 40px;
}
footer .footer-bottom .subscripe .form-control {
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #324141;
  border: 0;
}
footer .footer-bottom .subscripe .form-control::placeholder {
  color: #fff;
}
footer .footer-bottom .subscripe .btn {
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #750A16;
  color: #fff;
  border: 0;
}
footer .footer-bottom .social {
  text-align: center;
  padding-top: 45px;
}
footer .footer-bottom .social i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  border-radius: 50%;
}

@media (max-width: 1024px) {
  .navbar {
    line-height: 20px;
  }

  .product .nav-pills-company .nav-item {
    width: 12%;
  }
}
@media (max-width: 800px) {
  .top-header .support {
    position: unset;
    width: 100%;
    transform: translate(0);
    margin-top: 10px;
  }
  .top-header .social {
    text-align: right;
    margin-top: 10px;
  }

  .navbar {
    background-color: #750A16;
    height: auto;
    line-height: 25px;
    text-align: center;
    padding: 15px;
  }
  .navbar .navbar-toggler {
    background-color: #fff;
  }
  .navbar .navbar-toggler:focus {
    outline: 0;
  }
  .navbar .navbar-nav {
    margin-top: 10px;
  }
  .navbar .nav-item .nav-link {
    width: 100%;
    color: #fff;
  }
  .navbar .nav-item-all .form-group {
    width: 100% !important;
  }
  .navbar .nav-item-all .form-group .form-control {
    padding-right: 40px !important;
  }
  .navbar .active {
    background-color: #fff;
    border-radius: 2px;
  }

  .price5-sr hr {
    margin-right: 150px;
  }

  .product .nav-pills-company .nav-item {
    width: 17%;
  }

  .special-offer .overlay p {
    width: 60% !important;
  }

  footer .footer-bottom {
    padding-bottom: 30px;
  }
  footer .footer-bottom .social {
    padding-top: 0;
  }

  .search-result .result .card-header h6 {
    line-height: 35px;
    font-size: 14px;
  }
}
@media (max-width: 524px) {
  .new-added hr {
    width: 34%;
  }

  hr {
    display: none;
  }

  .product .nav-pills-company .nav-item {
    width: 21%;
  }
  .product .nav-pills-company .nav-item img {
    height: 50px;
  }
  .product .product-slider .card {
    text-align: center;
  }
  .product .product-slider .card img {
    width: 130px;
    height: 80px;
    margin: auto;
  }

  .special-offer .overlay {
    width: 100% !important;
  }

  .today-offer .to-day-offer-slider .nav-pills-today-offer {
    position: unset;
  }

  footer .footer-top .support {
    text-align: right;
  }
  footer .download-app img {
    width: 230px;
  }

  .search-result .result {
    margin-top: 15px;
  }
  .search-result .result .card-header {
    height: auto;
  }
  .search-result .result .card-header h6 {
    line-height: 35px;
    font-size: 14px;
  }

  .cart-table .table-image td,
.cart-table .table-image th {
    font-size: 14px;
  }
  .cart-table .table-image img {
    max-width: 129px;
  }
}
@media (max-width: 375px) {
  .product .nav-pills-company .nav-item {
    width: 25%;
  }
  .product .nav-pills-company .nav-item img {
    height: 60px;
  }
}
.header-slider .slick-prev::before, .header-slider .slick-next::before, .new-added .choses .choses-slider .slick-prev::before, .new-added .choses .choses-slider .slick-next::before, .today-offer .to-day-offer-colm .slick-prev::before, .today-offer .to-day-offer-colm .slick-next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/*# sourceMappingURL=style.css.map */
